xoa = "ws://xoa.domain.com:80"
xoa_user = "admin@admin.net"
#xoa_pass = "password"
xoa_pool = "pool1"
xoa_template = "Packer Template Ubuntu 24.04"
xoa_storage = "vmStorageSR"
xoa_net = "eth0"
vm_name = "testubserver"
vm_dns_suffix = "domain.com"
vm_description = "Testing ubuntu VM"
vm_tags = ["Ubuntu","Terraform"]
vm_cpu_count = "2"
vm_ram = "2147483648" #2GB x 1073741824 = 2147483648
vm_disk_size = "42949672960" #40GB x 1073741824 = 42949672960
vm_user = "elsudo"
#vm_pass = "password"
vm_ipaddress = "192.168.1.5"
vm_ipgateway = "192.168.1.1"
vm_dns_servers = ["192.168.1.1","8.8.8.8"]
vm_dns_search = ["domain.com"]

#domain join variables
joindomain_username = "administrator"
#joindomain_password = "password"
ad_domain = "domain.com"
ad_ou = "OU=SERVERS,DC=DOMAIN,DC=COM"
administrators = "ADMIN-SERVER-ADMINS"